/* =====CTRL+ALT+F======== to format css codes  */
* {
    margin: 0;
    padding: 0;
       
}

.center-container{
    height: 90vh;
    display: grid;
    place-items: center;
}
/* MY PERSONAL CSS VARIABLE */

:root{
    /* Colors*/
    --color-light-text:#4F4C4C;
    --color-primary:hsl(0, 0%, 100%);
    --color-secondary:#e0e0e0;
    --color-cta: #00126b;

  

    /* Fonts */
    --f-size-h:40px;
    --f-size-s-h:1.5rem;
    --f-size-s-h-2:0.83rem;
    --f-w-heavy:900;
    --f-family-h:'Oswald', sans-serif;
    --f-family-s-h: font-family: 'Roboto', sans-serif;
    --f-family-body:font-family: 'Open Sans',sans-serif;
    
    
    /* Spacing */
    --space-x-s:5px;
    --space-x-m:15px;
    --space-x:10px;
    --space-xx:20px;
    --space-xxx:30px;
    --space-lg:60px;
    
    /* Sizing */
    --fit-width:fit-content;
    
    /* Boxing */
    --brd-container:solid red;
    --brd-child:solid green;
    --brd-g-child:solid blue;

    --brd-rad:6px;
    --bx-shw:0px 0px 10px grey
}
.btn-custom{
   
    padding:10px;
    border:none;
    width: fit-content;
    border-radius: 10%;
    background-color:var(--color-cta) ;
    color:var(--color-light-text);
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 20px #5a5a5a,
             -10px -10px 20px #ffffff;

}
.btn-custom:hover{
    color: var(--color-cta);
    box-shadow:  5px 5px 17px #878787,
             -5px -5px 17px #ffffff;
}
a{

}
.cards{
    border: none;
    border-radius: 10px;
    box-shadow:  2px 2px 10px #5a5a5a89
}


/* ======= FONT FAMILY FOR THIS WEBSITE... HEADINGS, SUB HEASDINGS AND BODY TEXT======= */

/* =====CTRL+ALT+F======== to format css codes  */

/* =====CTRL+SHIFT+I and CTRL+K+CTRL+F======== to format the whole HTML codes and selected html code respectively */
/* ==== NOT NEEDED==== REMOVE CODES FROM HERE UPWARDS WHEN DONE CODING */

