@import url('costom-properties.css');

.forms h2{
    text-align: center;
}

.register-link a{
    color: red;
    font-size: 14px;
}
.forgot-password-link a{
    font-size: 14px;
    float: right;
}
.btn-container{
    margin-top: 20px;
    text-align: center;
}