
/* Slide styles */
.slide {
  /* display: none; */
  text-align: center;
  padding: 50px;
}

/* Header styles */
h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Body text styles */
p {
  font-size: 20px;
  line-height: 1.5;
}
