@import url('/css/costom-properties.css');

body{
    background: var(--color-secondary);
    
    
}

.splash-container{
    display: grid;
     place-items: center;
     height: 100vh;
     
 }
 
    .splash-container, .intro-page-1{
        /* display: grid;
        place-items: center; */
        border: solid red;
        
    }
    
    .splash-motto{
        display: grid;
        place-items: center;
        color: var(--color-light-text);
        font-size: 18px;
    }
    .splash-logo{
        width: 400px;
    }
    .btn-splash{
       margin-top: 20px;
    }
    




