

/* Mobile Phones */
body{
  overflow: hidden;
  
}
.view-overlay{
 
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.674);
  z-index: 9999;
  display: grid;
  place-items: center;
  
}
.view-overlay .contents-container{
  padding: 30px;
  background-color: white;
  overflow: auto;
}
.view-overlay .card-text{
 margin: auto;
 text-align: justify;
}

.mini-cta{
  margin: auto;
  margin-top: 30px;
  width: fit-content;
  display: flex;
  place-items: center;
  gap: 30px;
  cursor: pointer;
  font-size: large;

}


.close-button {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  
  
}

.close-button::after,
.close-button::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 20px;
  background-color: #333;
  
}

.close-button::after {
  transform: rotate(45deg);
}

.close-button::before {
  transform: rotate(-45deg);
}


/* MENU OVERLAY */
.overlay {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 17, 255, 0.5);
  z-index: 9999;
  
}
.menu-header{
  padding:10px;
  height: inherit;
}
.user-profile{
  margin-top: -3px;
  font-size: 30px;
  color: var(--color-cta);
}
.menu-icon {
  float: left;
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.menu-icon .bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-cta);
  transition: transform 0.3s ease;
}

.menu-icon .bar:first-child {
  transform: translateY(-6px);
}

.menu-icon .bar:last-child {
  transform: translateY(6px);
}

.menu-icon.active .bar:first-child {
  transform: translateY(0px) rotate(45deg);
}

.menu-icon.active .bar:last-child {
  transform: translateY(0px) rotate(-45deg);
}

.menu-icon.active .bar:nth-child(2) {
  transform: scaleX(0);
}

.header{
  width: fit-content;
  display: grid;
  place-items: center;
 
  margin: auto;
  
}
.header .header-img{
  width: 100px;
  padding: 0px;
  
  
}

.motto{
  display: grid;
  place-items: center;
}

/* body content */
.body-container{
  margin: auto;
  width: 90%;
  
  
}
/* search bar  */
.search-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
 
  
}

.search-form{
  width: 100%;
}
.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 30px rgba(4, 56, 107, 0.333);
  overflow: hidden;
  
  
}

.search-box input[type=text] {
  padding: 10px 3px;
  border: none;
  font-size: 17px;
  background: transparent;
  width: 100%; 
  outline: none;
}


.search-box button {
  padding: 10px;
  background: transparent;
  cursor: pointer;
  border: none;
}
.search-box .fa-search:hover {
  color: hsl(0, 0%, 53%);
}
.fa-search {
  color: hsl(0, 0%, 66%);
}

/* Threads */
.topic-thread{
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.1px;

color: #384F7D;
}
.threads{
  padding:10px;
  display: grid;
  gap: 30px;
  height: 400px;
  overflow:scroll;
  box-shadow: 3px 3px 10px rgba(4, 56, 107, 0.129);
  margin-bottom: 100px;
 
}

i:hover{
  cursor: pointer;
  color: var(--color-cta);
}

.footer-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}

.footer-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-nav li {
  flex-grow: 1;
}

.footer-nav a {
  display: block;
  text-align: center;
  padding: 5px;
  color: var(--color-cta);
  text-decoration: none;
  font-size: 10px;
}

.footer-nav a:hover {
  color: #000;
}

.footer-nav i {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}
/* .footer{
  background: white;
  padding: 5px;
  border: solid red;
} */



/* Tablet devices  */
@media(min-width:768px){
    
}

/* PC devices  */
@media(min-width:992px){
.main-container{
    width: 50%;
    margin: auto;
}
body{
  display: none;
}
}


